# Server Configuration - REQUIRED
ENV=development
SERVER_PORT=4000
CORS_METHODS=GET, PUT, POST, PATCH, DELETE, OPTIONS # Comma separated list of methods
CORS_ORIGIN=http://localhost:4000,http://localhost:5173 # Comma separated list of origins NO SPACES
CORS_HEADERS=Content-Type, Accept

MONGO_CONNECTION=mongodb://127.0.0.1:27017
MONGO_DB=ShadowEditor


